{% from "components/work_experience/companies/parts.html.twig" import title, role, duration, link %}

<div data-company-description="cak">
	{{title('CAK Groep')}}
	{{role('Backend Developer')}}
	{{duration('2024-Huidig')}}
	<div class='mb-6'>
		<div class='space-y-4'>
			<p>
				Bij CAK Groep heb ik meegewerkt aan de ontwikkeling en optimalisatie van applicaties binnen
				de verzekeringsbranche. Ik werkte onder andere aan systemen voor de merken Promovendum,
				Besured, National Academic en Academica. Mijn werk concentreerde zich voornamelijk op
				backend-ontwikkeling in Symfony, waarbij ik nieuwe functionaliteiten bouwde, bestaande
				systemen verbeterde en ervoor zorgde dat de applicaties efficiënt en schaalbaar bleven.
			</p>
			<p>In een teamsetting, waar we de Kanban-methode hanteerden, hield ik me bezig met:</p>
			<ul class='my-2 ml-4 space-y-1 list-disc list-inside'>
				<li>Het analyseren en oplossen van complexe technische vraagstukken.</li>
				<li>Samenwerken met collega-ontwikkelaars om hoogwaardige code te leveren.</li>
				<li>Het implementeren van nieuwe features en onderhoud van bestaande applicaties.</li>
				<li>
					Het communiceren met stakeholders om technische oplossingen te vertalen naar
					bedrijfsbehoeften.
				</li>
			</ul>
			<p>
				Door deze ervaring heb ik niet alleen mijn Symfony-vaardigheden verder ontwikkeld, maar ook
				geleerd hoe ik binnen een agile-omgeving met korte lijnen effectief kan werken.
			</p>
		</div>
	</div>
</div>
