{% from "components/work_experience/companies/parts.html.twig" import title, role, duration, link %}

<div data-company-description="eqp" class="hidden">
	{{title('Equippo AG')}}
	{{role('Full Stack Developer')}}
	{{duration('2020-2024')}}
	<div class='mb-6'>
		<div class='space-y-4'>
			<p>
				Bij Equippo, een Zwitserse marktplaats voor tweedehands bouwmachines, werkte ik aan hun
				webshop/sales applicatie. Omdat we naast de verkoop ook transport- en importdiensten
				aanboden, was het proces een stuk uitgebreider dan bij een standaard webshop.
			</p>
			<p>
				Ik begon met het verbeteren en onderhouden van hun Ruby on Rails-monolith. Later hebben we
				het platform omgebouwd naar een moderne setup met een GraphQL API, waarbij Next.js de
				frontend verzorgde en Rails de backend bleef. We werkten in een team volgens de
				agile/scrum-methode en richtten ons op iteratieve verbeteringen en schaalbaarheid.
			</p>
		</div>
	</div>
</div>
