{% macro title(text) %}
	<h2 class='text-2xl md:text-3xl font-bold mb-4'>{{text}}</h2>
{% endmacro %}

{% macro role(text) %}
	<p class='text-twilight-200 font-medium text-lg mb-2'>{{text}}</p>
{% endmacro %}

{% macro duration(text) %}
	<p class='text-gray-400 text-sm mb-6'>{{text}}</p>
{% endmacro %}


{% macro link(url) %}
	<a href={url} target='_blank' rel='noopener noreferrer' class='text-blue-500 hover:underline'>
		Bekijk hier de website
	</a>
{% endmacro %}
