{% from "components/work_experience/companies/parts.html.twig" import title, role, duration, link %}

<div data-company-description="tbc" class="hidden">
	{{title('Team Bicep')}}
	{{role('Eigenaar / Developer')}}
	{{duration('2019-Huidig')}}
	<div class='mb-6'>
		<div class='space-y-4'>
			<p>
				Met Team Bicep heb ik mijn passie voor technologie en ondernemerschap gecombineerd. Het
				begon als een platform om mijn hobby projecten te realiseren, met een sterke focus op
				software ontwikkeling. In de eerste jaren werkte ik aan diverse applicaties en technische
				oplossingen, volledig vanuit mijn eigen creativiteit en interesse.
			</p>
			<p>
				In 2023 breidde ik mijn activiteiten uit naar e-commerce. Momenteel verkoop ik whitelabelen
				branded producten via bol.com, waarbij ik continu werk aan het automatiseren van verkoop- en
				voorraadprocessen. Daarnaast heb ik voor mijn merk zowel een landingspagina als een eigen
				webshop ontworpen en gebouwd, waarbij ik gebruik maakte van mijn full-stack expertise.
			</p>
			<p>De algemene werkzaamheden hiervan zijn onder andere:</p>
			<ul class='my-2 ml-4 space-y-1 list-disc list-inside'>
				<li>Ontwikkeling en onderhoud van meerdere applicaties en weboplossingen.</li>
				<li>
					Zelfstandig beheren van een e-commerce operatie, inclusief productselectie, branding en
					procesautomatisering.
				</li>
				<li>Implementatie van eigen software om dagelijkse taken efficiënter te maken.</li>
			</ul>
			<p>
				Met dit bedrijf combineer ik mijn technische vaardigheden met ondernemerschap, waardoor ik
				constant leer en groei op beide vlakken.
			</p>
		</div>
	</div>
</div>
