 <div class="flex-grow flex items-center justify-center px-10 my-64 text-center">
        <div class="space-y-6">
            <h2 class="text-4xl md:text-6xl font-bold">Hi, Ik ben Sven</h2>
            <p class="text-lg md:text-2xl text-twilight-400">
                Een {{ age }} jarige software ontwikkelaar uit Dordrecht
            </p>
            <div class="flex justify-center space-x-4">
                <a href="https://www.linkedin.com/in/svenelmendorp/" class="social-button">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/oga-sven/" class="social-button">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>