{% set selectedExperience = experiences[0] %}
<div class="text-twilight-50 min-h-96 flex flex-col md:flex-row my-12">
	<aside class="w-full md:w-1/3 p-6 overflow-y-auto">
		<h2 class="text-2xl font-bold mb-6">Work Experience</h2>
		<ul class="space-y-4">
			{% for experience in experiences %}
				{% import "components/work_experience/company_name.html.twig" as company %}
				{{ company.company_name(experience, 1, 'setSelectedExperienceId') }}
			{% endfor %}
		</ul>
	</aside>

	<main class='w-full md:w-2/3 p-6 md:p-10 bg-gray-800 md:rounded-l-lg'>
		{% include 'components/work_experience/companies/cak.html.twig' %}
		{% include 'components/work_experience/companies/EQP.html.twig' %}
		{% include 'components/work_experience/companies/TBC.html.twig' %}

	</main>
</div>
